# GROUP ACTIVITY

In this activity, there all 12 questions prepared with varying levels of difficulty. Your task is to answer as many as you can AS A GROUP. Each question is independent of one another. Delegate and strategize on how you will answer the most number of questions. **Good luck! :)**

#### First, setup the data

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
schools = pd.read_csv("schools_combined.csv")

C:\Users\Optiplex\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
schools.head()

,Unnamed: 0,school_id,school_name,region,province,municipality,division,year_level,gender,enrollment,latitude,longitude,ID,Total_Enro,Total_Inst,Rooms_used,Rooms_unused,Type_of_Sc
0,0,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,first year,male,299,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
1,1,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,first year,female,250,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
2,2,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,second year,male,246,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
3,3,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,second year,female,284,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
4,4,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,third year,male,220,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes

In [15]:
schools.sort_values(by="school_id")

,Unnamed: 0,school_id,school_name,region,province,municipality,division,year_level,gender,enrollment,latitude,longitude,ID,Total_Enro,Total_Inst,Rooms_used,Rooms_unused,Type_of_Sc
18792,18792,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 1,male,41,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18803,18803,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 6,female,30,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18802,18802,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 6,male,25,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18801,18801,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 5,female,27,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18800,18800,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 5,male,38,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18799,18799,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 4,female,33,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18793,18793,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 1,female,30,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18797,18797,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 3,female,37,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18796,18796,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 3,male,41,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18795,18795,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 2,female,38,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18794,18794,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 2,male,37,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18798,18798,100002,Bacarra CES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 4,male,30,18.25096389,120.6089583,100002,318,16,12.0,0.0,School with no Annexes
18815,18815,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 6,female,11,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18814,18814,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 6,male,9,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18813,18813,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 5,female,11,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18812,18812,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 5,male,15,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18811,18811,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 4,female,17,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18810,18810,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 4,male,16,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18809,18809,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 3,female,16,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18808,18808,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 3,male,12,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18807,18807,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 2,female,15,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18806,18806,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 2,male,13,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18805,18805,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 1,female,10,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18804,18804,100003,Buyon ES,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 1,male,7,18.234599,120.616037,100003,136,6,6.0,0.0,School with no Annexes
18827,18827,100004,Ganagan Elementary School,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 6,female,8,18.25001389,120.5871694,100004,90,7,6.0,0.0,School with no Annexes
18826,18826,100004,Ganagan Elementary School,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 6,male,5,18.25001389,120.5871694,100004,90,7,6.0,0.0,School with no Annexes
18825,18825,100004,Ganagan Elementary School,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 5,female,10,18.25001389,120.5871694,100004,90,7,6.0,0.0,School with no Annexes
18824,18824,100004,Ganagan Elementary School,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 5,male,14,18.25001389,120.5871694,100004,90,7,6.0,0.0,School with no Annexes
18823,18823,100004,Ganagan Elementary School,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 4,female,5,18.25001389,120.5871694,100004,90,7,6.0,0.0,School with no Annexes
18822,18822,100004,Ganagan Elementary School,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,grade 4,male,10,18.25001389,120.5871694,100004,90,7,6.0,0.0,School with no Annexes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18762,18762,321601,Tanauan City NHS,Region IV-A - CALABARZON,Batangas,City Of Tanauan,Tanauan City,second year,male,342,14.087464,121.14462,321601,1860,16,38.0,0.0,School with no Annexes
18763,18763,321601,Tanauan City NHS,Region IV-A - CALABARZON,Batangas,City Of Tanauan,Tanauan City,second year,female,360,14.087464,121.14462,321601,1860,16,38.0,0.0,School with no Annexes
18764,18764,321601,Tanauan City NHS,Region IV-A - CALABARZON,Batangas,City Of Tanauan,Tanauan City,third year,male,354,14.087464,121.14462,321601,1860,16,38.0,0.0,School with no Annexes
18765,18765,321601,Tanauan City NHS,Region IV-A - CALABARZON,Batangas,City Of Tanauan,Tanauan City,third year,female,340,14.087464,121.14462,321601,1860,16,38.0,0.0,School with no Annexes
18766,18766,321601,Tanauan City NHS,Region IV-A - CALABARZON,Batangas,City Of Tanauan,Tanauan City,fourth year,male,302,14.087464,121.14462,321601,1860,16,38.0,0.0,School with no Annexes
18767,18767,321601,Tanauan City NHS,Region IV-A - CALABARZON,Batangas,City Of Tanauan,Tanauan City,fourth year,female,348,14.087464,121.14462,321601,1860,16,38.0,0.0,School with no Annexes
18775,18775,322502,Tumanan NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,fourth year,female,21,8.272080453,126.3483079,322502,137,6,3.0,0.0,School with no Annexes
18773,18773,322502,Tumanan NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,third year,female,19,8.272080453,126.3483079,322502,137,6,3.0,0.0,School with no Annexes
18772,18772,322502,Tumanan NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,third year,male,19,8.272080453,126.3483079,322502,137,6,3.0,0.0,School with no Annexes
18774,18774,322502,Tumanan NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,fourth year,male,13,8.272080453,126.3483079,322502,137,6,3.0,0.0,School with no Annexes
18770,18770,322502,Tumanan NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,second year,male,17,8.272080453,126.3483079,322502,137,6,3.0,0.0,School with no Annexes
18769,18769,322502,Tumanan NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,first year,female,12,8.272080453,126.3483079,322502,137,6,3.0,0.0,School with no Annexes
18768,18768,322502,Tumanan NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,first year,male,21,8.272080453,126.3483079,322502,137,6,3.0,0.0,School with no Annexes
18771,18771,322502,Tumanan NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,second year,female,21,8.272080453,126.3483079,322502,137,6,3.0,0.0,School with no Annexes
18783,18783,322503,Bucto NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,fourth year,female,9,8.259204442,126.3334592,322503,144,8,2.0,1.0,School with no Annexes
18781,18781,322503,Bucto NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,third year,female,10,8.259204442,126.3334592,322503,144,8,2.0,1.0,School with no Annexes
18780,18780,322503,Bucto NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,third year,male,24,8.259204442,126.3334592,322503,144,8,2.0,1.0,School with no Annexes
18782,18782,322503,Bucto NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,fourth year,male,16,8.259204442,126.3334592,322503,144,8,2.0,1.0,School with no Annexes
18778,18778,322503,Bucto NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,second year,male,16,8.259204442,126.3334592,322503,144,8,2.0,1.0,School with no Annexes
18777,18777,322503,Bucto NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,first year,female,20,8.259204442,126.3334592,322503,144,8,2.0,1.0,School with no Annexes
18776,18776,322503,Bucto NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,first year,male,14,8.259204442,126.3334592,322503,144,8,2.0,1.0,School with no Annexes
18779,18779,322503,Bucto NHS,CARAGA - CARAGA,Surigao Del Sur,City Of Bislig,Bislig City,second year,female,21,8.259204442,126.3334592,322503,144,8,2.0,1.0,School with no Annexes
18784,18784,322601,Candon City Information Technology NHS,Region I - Ilocos Region,Ilocos Sur,City Of Candon,Candon City,first year,male,45,17.15986111,120.4347361,322601,216,8,7.0,0.0,School with no Annexes
18785,18785,322601,Candon City Information Technology NHS,Region I - Ilocos Region,Ilocos Sur,City Of Candon,Candon City,first year,female,36,17.15986111,120.4347361,322601,216,8,7.0,0.0,School with no Annexes
18786,18786,322601,Candon City Information Technology NHS,Region I - Ilocos Region,Ilocos Sur,City Of Candon,Candon City,second year,male,55,17.15986111,120.4347361,322601,216,8,7.0,0.0,School with no Annexes
18787,18787,322601,Candon City Information Technology NHS,Region I - Ilocos Region,Ilocos Sur,City Of Candon,Candon City,second year,female,39,17.15986111,120.4347361,322601,216,8,7.0,0.0,School with no Annexes
18788,18788,322601,Candon City Information Technology NHS,Region I - Ilocos Region,Ilocos Sur,City Of Candon,Candon City,third year,male,30,17.15986111,120.4347361,322601,216,8,7.0,0.0,School with no Annexes
18789,18789,322601,Candon City Information Technology NHS,Region I - Ilocos Region,Ilocos Sur,City Of Candon,Candon City,third year,female,40,17.15986111,120.4347361,322601,216,8,7.0,0.0,School with no Annexes
18790,18790,322601,Candon City Information Technology NHS,Region I - Ilocos Region,Ilocos Sur,City Of Candon,Candon City,fourth year,male,26,17.15986111,120.4347361,322601,216,8,7.0,0.0,School with no Annexes
18791,18791,322601,Candon City Information Technology NHS,Region I - Ilocos Region,Ilocos Sur,City Of Candon,Candon City,fourth year,female,47,17.15986111,120.4347361,322601,216,8,7.0,0.0,School with no Annexes

#### Before proceeding with the questions, check first with your groupmates if you all have the correct dataframe.

1. What is the size of the dataframe?

In [16]:
schools.shape

(159744, 18)

2. What are the columns?

In [17]:
schools.columns

Index(['Unnamed: 0', 'school_id', 'school_name', 'region', 'province',
       'municipality', 'division', 'year_level', 'gender', 'enrollment',
       'latitude', 'longitude', 'ID', 'Total_Enro', 'Total_Inst', 'Rooms_used',
       'Rooms_unused', 'Type_of_Sc'],
      dtype='object')

3. How many schools are there?

In [18]:
schools.school_id.nunique()

14003

4. How many missing values are there?

In [19]:
schools.isna().sum()

Unnamed: 0       0
school_id        0
school_name      0
region           0
province         0
municipality     0
division         0
year_level       0
gender           0
enrollment       0
latitude         0
longitude        0
ID               0
Total_Enro       0
Total_Inst       0
Rooms_used      12
Rooms_unused    12
Type_of_Sc       0
dtype: int64

Alright! Get started!

## Exercise

***Easy***

1. Which has a greater number of overall enrollees: males or females? (use `enrollment` column)

Insert markdown final answer: male

In [63]:
#Insert code here
schools.groupby(["gender"])[["enrollment"]].sum()

        enrollment
gender
female     3870769
male       4053979

2. How many municiapalities are covered by the dataframe?

Insert markdown final answer: 1143

In [64]:
#Insert code here
len(schools[['municipality','province','region']].drop_duplicates())

1143

3. Which year_level has the highest number of enrollees? (use `enrollment` column)

Insert markdown final answer: grade 4

In [65]:
#Insert code here
schools.groupby(["year_level"])[["enrollment"]].sum().sort_values(by = 'enrollment', ascending = False)

             enrollment
year_level
grade 4          920665
grade 5          846376
grade 3          844424
grade 2          824246
first year       817414
grade 1          792898
grade 6          777489
second year      764328
third year       710006
fourth year      626902

4. Are the school_id equal to school_name? What is the discrepancy?

Insert markdown final answer: 1988

In [73]:
#Insert code here
schools.school_id.nunique()-schools.school_name.nunique()

1988

5. How many teachers are there overall?

Insert markdown final answer: 179044

In [79]:
#Insert code here
schools2=schools.drop_duplicates(subset='school_id', keep="first")
schools2['Total_Inst'].sum()

179044

***Medium***

6. Which province has the highest count of schools? How many is it?

Insert markdown final answer: Leyte,1241

In [80]:
#Insert code here
schools3=schools2.groupby(["province"]).size()
schools3.sort_values(ascending=False).head(5)

province
Leyte                1241
Pangasinan            834
North Cotabato        708
Negros Oriental       695
Zamboanga Del Sur     694
dtype: int64

7. How many provinces only has one school? Which provinces are these?

Insert markdown final answer:6,(Abra,Zamboanga Del Norte, Sulu, Apayao, Quirino, Mountain Province)

In [81]:
#Insert code here
new_school = schools.groupby("province")["school_id"].nunique().to_frame().sort_values(by="school_id")

new_school[new_school["school_id"] == 1]

                     school_id
province
Abra                         1
Zamboanga Del Norte          1
Sulu                         1
Apayao                       1
Quirino                      1
Mountain Province            1

8. How many municipalities are there in ARMM?

Insert markdown final answer: 23

In [82]:
#Insert code here
schools[schools["region"] == "ARMM - Autonomous Region in Muslim Mindanao"].groupby("region")["municipality"].nunique().to_frame()

                                             municipality
region
ARMM - Autonomous Region in Muslim Mindanao            23

9. Which school has the most number of rooms (used + unused)?

Insert markdown final answer: Rizal High School

In [20]:
schools.columns

Index(['Unnamed: 0', 'school_id', 'school_name', 'region', 'province',
       'municipality', 'division', 'year_level', 'gender', 'enrollment',
       'latitude', 'longitude', 'ID', 'Total_Enro', 'Total_Inst', 'Rooms_used',
       'Rooms_unused', 'Type_of_Sc'],
      dtype='object')

In [39]:
#
schools["totalRooms"] = schools["Rooms_used"]+schools["Rooms_unused"]

schools[schools["totalRooms"]==schools["totalRooms"].max()]["school_name"]

16776    Rizal High School
16777    Rizal High School
16778    Rizal High School
16779    Rizal High School
16780    Rizal High School
16781    Rizal High School
16782    Rizal High School
16783    Rizal High School
Name: school_name, dtype: object

10. Within the schools in Central Visayas, how many female enrollees do they have all in all? (use `enrollment` column)

In [27]:
schools[(schools["region"].str.contains("Central Visayas")) & (schools["gender"]=="female")]["enrollment"].sum()

222644

Insert markdown final answer: 222644 female students

***Hard***

11. How many secondary students are there overall? (use `enrollment` column)

In [83]:
secondary = schools[(schools["year_level"] == "first year") | (schools["year_level"] == "second year") | (schools["year_level"] == "third year") | (schools["year_level"] == "fourth year")]
secondary["enrollment"].sum()

2918650

Insert markdown final answer: 2918650

12. Which school_id has the highest teacher-student ratio?

Insert markdown final answer: 121426

In [75]:
schoolsGrouped = schools.groupby("school_id")

In [76]:
(schoolsGrouped["Total_Inst"].max()/schoolsGrouped["enrollment"].sum()).to_frame().sort_values(by=0,ascending=False)

                  0
school_id
121426     0.500000
300193     0.394161
319603     0.348548
121793     0.285714
131795     0.272727
132791     0.272727
132804     0.250000
131897     0.250000
122486     0.250000
122725     0.250000
115774     0.250000
122657     0.250000
121501     0.222222
102321     0.202899
113790     0.200000
125660     0.200000
102323     0.200000
122487     0.200000
122477     0.200000
121490     0.200000
121526     0.200000
125350     0.200000
124888     0.200000
109414     0.200000
319506     0.181818
131946     0.181818
102327     0.176471
131867     0.170732
120981     0.166667
121391     0.166667
...             ...
103280     0.000000
121951     0.000000
122474     0.000000
319903     0.000000
317926     0.000000
130342     0.000000
104454     0.000000
131770     0.000000
103862     0.000000
124025     0.000000
130363     0.000000
130365     0.000000
124982     0.000000
111424     0.000000
131710     0.000000
115311     0.000000
317921     0.000000
129835     0.000000
317920     0.000000
115254     0.000000
115256     0.000000
115375     0.000000
317108     0.000000
317105     0.000000
131830     0.000000
316637     0.000000
103148     0.000000
120266     0.000000
120603     0.000000
125270     0.000000

[14003 rows x 1 columns]